examples/SocketIO-Minew-E9.json
[
    {
        "id": "7909cc4cfbebc6f4",
        "type": "tab",
        "label": "Minew E9 Waterproof Beacon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31d3a88e3857e152",
        "type": "pareto-anywhere-socketio",
        "z": "7909cc4cfbebc6f4",
        "uri": "http://localhost:3001/devices/ac233faf5c26/2",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 120,
        "y": 440,
        "wires": [
            [],
            [
                "f00606f583b53cdf",
                "36094dfb28628072",
                "f966c643a6530a11",
                "140abdf82bcdc6f2"
            ],
            []
        ]
    },
    {
        "id": "badbd4ba0b67b520",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/isMotionDetected",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/isMotionDetected\",\n            payload: msg.payload.isMotionDetected[0]};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 440,
        "wires": [
            [
                "a26d3d2571b0c417"
            ]
        ]
    },
    {
        "id": "9460864a184af397",
        "type": "link out",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/isMotionDetected",
        "mode": "link",
        "links": [
            "656c29854a0f9c68",
            "f3877161e3ba366e",
            "1c08fa477d99a99e"
        ],
        "x": 1635,
        "y": 440,
        "wires": []
    },
    {
        "id": "324d737e034a000b",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/isMotionDetected",
        "info": "",
        "x": 1800,
        "y": 440,
        "wires": []
    },
    {
        "id": "f145c7799a68fae7",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/devices/ac233faf5c26/2",
        "info": "",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "298821c103b2b981",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Even if we trust the device....",
        "info": "",
        "x": 680,
        "y": 480,
        "wires": []
    },
    {
        "id": "f00606f583b53cdf",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "is it isMotionDetected?",
        "func": "if(msg.payload.isMotionDetected){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "badbd4ba0b67b520"
            ]
        ]
    },
    {
        "id": "5cdfd321e1305056",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "4a210f74e0882ae8",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "1aa9056bccedbb07"
            ]
        ]
    },
    {
        "id": "1df4faa93103ca57",
        "type": "link out",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/batteryPercentage",
        "mode": "link",
        "links": [
            "92148f9250905b6b",
            "b40fb4c40be74994",
            "fddd5d157b9b8608",
            "93a57bbd72b84360"
        ],
        "x": 1635,
        "y": 520,
        "wires": []
    },
    {
        "id": "6859fa88da05cf20",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/batteryPercentage",
        "info": "",
        "x": 1800,
        "y": 520,
        "wires": []
    },
    {
        "id": "36094dfb28628072",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "4a210f74e0882ae8"
            ]
        ]
    },
    {
        "id": "b0a68ed732d1b304",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/acceleration",
        "func": "let newmsg = {\n    topic: \"/e9beacon5c26/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "eaca0f8490a65089"
            ]
        ]
    },
    {
        "id": "d16e2f395802f112",
        "type": "link out",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/acceleration",
        "mode": "link",
        "links": [
            "bcc55d3b75af50b4",
            "68c2629504ca0b28",
            "270f40931efab3e3"
        ],
        "x": 1635,
        "y": 600,
        "wires": []
    },
    {
        "id": "8c275d7b5ecf7819",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/acceleration",
        "info": "",
        "x": 1780,
        "y": 600,
        "wires": []
    },
    {
        "id": "f966c643a6530a11",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 600,
        "wires": [
            [
                "b0a68ed732d1b304"
            ]
        ]
    },
    {
        "id": "a26d3d2571b0c417",
        "type": "rbe",
        "z": "7909cc4cfbebc6f4",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1440,
        "y": 440,
        "wires": [
            [
                "9460864a184af397"
            ]
        ]
    },
    {
        "id": "1aa9056bccedbb07",
        "type": "rbe",
        "z": "7909cc4cfbebc6f4",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1440,
        "y": 520,
        "wires": [
            [
                "1df4faa93103ca57"
            ]
        ]
    },
    {
        "id": "eaca0f8490a65089",
        "type": "rbe",
        "z": "7909cc4cfbebc6f4",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1440,
        "y": 600,
        "wires": [
            [
                "d16e2f395802f112"
            ]
        ]
    },
    {
        "id": "140abdf82bcdc6f2",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "save to capturedBLE",
        "func": "let allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = msg.payload;\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "e322ecb7b539a81a",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/acceleration [x,y,x]",
        "info": "",
        "x": 260,
        "y": 820,
        "wires": []
    },
    {
        "id": "270f40931efab3e3",
        "type": "link in",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/acceleration",
        "links": [
            "0ad22c5f1dca0ec8",
            "de8fbc462923dbc9",
            "6e29a67b8309b49b",
            "ab7c932c0809d8f2",
            "f0f43df8a09dbce2",
            "8befa1d6bfd45eba",
            "d16e2f395802f112"
        ],
        "x": 435,
        "y": 820,
        "wires": [
            [
                "67933f5a5c7afdf5"
            ]
        ]
    },
    {
        "id": "cf41aa44e563368c",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/batteryPercentage [int]",
        "info": "",
        "x": 250,
        "y": 880,
        "wires": []
    },
    {
        "id": "93a57bbd72b84360",
        "type": "link in",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [
            "002337ab102d4f3a",
            "1df4faa93103ca57"
        ],
        "x": 435,
        "y": 880,
        "wires": [
            [
                "8ee4736d9f98e35b"
            ]
        ]
    },
    {
        "id": "1c08fa477d99a99e",
        "type": "link in",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/isMotionDetected",
        "links": [
            "12f3f5b83580a23d",
            "298b7604e45e2609",
            "9460864a184af397"
        ],
        "x": 435,
        "y": 940,
        "wires": [
            [
                "0c417a621dda8423"
            ]
        ]
    },
    {
        "id": "30326b519b323432",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "/e9beacon5c26/isMotionDetected [true/false]",
        "info": "",
        "x": 230,
        "y": 940,
        "wires": []
    },
    {
        "id": "8ee4736d9f98e35b",
        "type": "ui_chart",
        "z": "7909cc4cfbebc6f4",
        "name": "",
        "group": "b16a71166ef94228",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Battery",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "26132dcbc343186c",
        "type": "ui_chart",
        "z": "7909cc4cfbebc6f4",
        "name": "",
        "group": "b16a71166ef94228",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Motion Detected",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "10000",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "0c417a621dda8423",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "true->1, false->0",
        "func": "if(msg.payload === true){\n    msg.payload = 1;\n} else if(msg.payload === false){\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 940,
        "wires": [
            [
                "26132dcbc343186c"
            ]
        ]
    },
    {
        "id": "67933f5a5c7afdf5",
        "type": "function",
        "z": "7909cc4cfbebc6f4",
        "name": "split into 3",
        "func": "let msg1 = {};\nlet msg2 = {}; \nlet msg3 = {};\n\nmsg1.topic = \"x\";\nmsg1.payload = msg.payload[0];\nmsg2.topic = \"y\";\nmsg2.payload = msg.payload[1];\nmsg3.topic = \"z\";\nmsg3.payload = msg.payload[2];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 820,
        "wires": [
            [
                "9e55f2756731cd88"
            ],
            [
                "9e55f2756731cd88"
            ],
            [
                "9e55f2756731cd88"
            ]
        ]
    },
    {
        "id": "9e55f2756731cd88",
        "type": "ui_chart",
        "z": "7909cc4cfbebc6f4",
        "name": "",
        "group": "b16a71166ef94228",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Movement",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "-2",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ea0000",
            "#00c800",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "57e5e9958c0111c5",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "create a friendly topic name, and assign the payload here",
        "info": "",
        "x": 1150,
        "y": 380,
        "wires": []
    },
    {
        "id": "7df329541561236a",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1950,
        "y": 380,
        "wires": []
    },
    {
        "id": "ed74aaceb2a6c336",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 740,
        "y": 380,
        "wires": []
    },
    {
        "id": "37ec80bc88972819",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Only send if it's changed...",
        "info": "",
        "x": 1490,
        "y": 380,
        "wires": []
    },
    {
        "id": "ee5066fb60e505e6",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Create UI elements for each of the sensor outputs",
        "info": "",
        "x": 230,
        "y": 760,
        "wires": []
    },
    {
        "id": "f2067104fad9b12d",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Open the ParetoAnywhere Object to set a Device URI",
        "info": "",
        "x": 220,
        "y": 180,
        "wires": []
    },
    {
        "id": "56d45cc0c54759f0",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "f7d031e3f6262cfd",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "open the UI and look under \"BLE Devices\" to see devices, their deviceId, and deviceIdType values",
        "info": "",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "1fcf5a89235cb7ee",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Open the ParetoAnywhere Object to set a Device URI",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "e185ce2c30eb7744",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9d5478e75261c30",
        "type": "comment",
        "z": "7909cc4cfbebc6f4",
        "name": "open the UI and look under \"BLE Devices\" to see devices, their deviceId, and deviceIdType values",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "b16a71166ef94228",
        "type": "ui_group",
        "name": "E9 Beacon 5C26",
        "tab": "1298aa3fd6cc5da5",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1298aa3fd6cc5da5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]