examples/SocketIO-Minew-MCW01.json
[
    {
        "id": "0f19d98c62c2f257",
        "type": "tab",
        "label": "Minew MWC01 Badge Bluetooth Repeater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af1bf0ebab9ac9e3",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/devices/c3000011f741/3",
        "info": "",
        "x": 150,
        "y": 500,
        "wires": []
    },
    {
        "id": "89c362078645b4b0",
        "type": "pareto-anywhere-socketio",
        "z": "0f19d98c62c2f257",
        "uri": "http://localhost:3001/devices/c3000011f741/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 130,
        "y": 440,
        "wires": [
            [],
            [
                "cae6f543f4279614",
                "33cf73f4252e0d76",
                "f7bf7a5b2807b4a1",
                "c5c109d7c51ff0c0",
                "04fad7df96e9770e",
                "672188507aa20fa1"
            ],
            []
        ]
    },
    {
        "id": "d1f10a31e514195c",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Minew MWC01 Badge Bluetooth Repeater https://www.minewstore.com/product/mwc01-badge-bluetooth-repeater",
        "info": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "f338cdcc5ac188e1",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/acceleration",
        "func": "let newmsg = {\n    topic: \"/badgeF741/acceleration\",\n            payload: msg.payload.acceleration};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 440,
        "wires": [
            [
                "07b36ae84f27d712"
            ]
        ]
    },
    {
        "id": "652c3a8fc8228380",
        "type": "link out",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/acceleration",
        "mode": "link",
        "links": [
            "68c2629504ca0b28",
            "190c1992f1cbf565",
            "b00b5206398fc5d3",
            "664fd7bbaa40427d",
            "270f40931efab3e3"
        ],
        "x": 1715,
        "y": 440,
        "wires": []
    },
    {
        "id": "fec60b2e3a6638ee",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/acceleration",
        "info": "",
        "x": 1850,
        "y": 440,
        "wires": []
    },
    {
        "id": "cae6f543f4279614",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "is it acceleration?",
        "func": "if(msg.payload.acceleration){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 440,
        "wires": [
            [
                "f338cdcc5ac188e1"
            ]
        ]
    },
    {
        "id": "07b36ae84f27d712",
        "type": "rbe",
        "z": "0f19d98c62c2f257",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1480,
        "y": 440,
        "wires": [
            [
                "652c3a8fc8228380"
            ]
        ]
    },
    {
        "id": "d0a6d453fe335fc3",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/temperature",
        "func": "let newmsg = {topic: \"/badgeF741/temperature\",\n            payload: msg.payload.temperature};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 520,
        "wires": [
            [
                "74519384b6c0b530"
            ]
        ]
    },
    {
        "id": "f2483fdd6766de0b",
        "type": "link out",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/temperature",
        "mode": "link",
        "links": [
            "622bf26b87eb3ed9",
            "46f318315efbac05",
            "c534c42889ea8a46",
            "a3dd92f8f3bbd818",
            "816b2872057b7b82"
        ],
        "x": 1715,
        "y": 520,
        "wires": []
    },
    {
        "id": "cd4442e847a0e9ef",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/temperature",
        "info": "",
        "x": 1850,
        "y": 520,
        "wires": []
    },
    {
        "id": "33cf73f4252e0d76",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "is it temperature?",
        "func": "if(msg.payload.temperature){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            [
                "d0a6d453fe335fc3"
            ]
        ]
    },
    {
        "id": "74519384b6c0b530",
        "type": "rbe",
        "z": "0f19d98c62c2f257",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1480,
        "y": 520,
        "wires": [
            [
                "f2483fdd6766de0b"
            ]
        ]
    },
    {
        "id": "6948e0353e1be465",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/badgeF741/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "f5e96e70cce6e956"
            ]
        ]
    },
    {
        "id": "120ed85db8ef7345",
        "type": "link out",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/batteryPercentage",
        "mode": "link",
        "links": [
            "92148f9250905b6b",
            "3b7587803e77b349",
            "89cd1b5d44963cb4",
            "fddd5d157b9b8608",
            "cf016166d78f150f"
        ],
        "x": 1715,
        "y": 580,
        "wires": []
    },
    {
        "id": "a5a4454e6c751ab8",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/batteryPercentage",
        "info": "",
        "x": 1870,
        "y": 580,
        "wires": []
    },
    {
        "id": "f7bf7a5b2807b4a1",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 580,
        "wires": [
            [
                "6948e0353e1be465"
            ]
        ]
    },
    {
        "id": "f5e96e70cce6e956",
        "type": "rbe",
        "z": "0f19d98c62c2f257",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1480,
        "y": 580,
        "wires": [
            [
                "120ed85db8ef7345"
            ]
        ]
    },
    {
        "id": "5cfaf8f39ecd1a45",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/doubleClick",
        "func": "let newmsg = {\n    topic: \"/badgeF741/doubleClick\",\n    payload: \"doubleClick\"};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 640,
        "wires": [
            [
                "64795f455c0afb73"
            ]
        ]
    },
    {
        "id": "162258e37e69a931",
        "type": "link out",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/doubleClick",
        "mode": "link",
        "links": [
            "89cd1b5d44963cb4",
            "92148f9250905b6b",
            "8dd1e7825daec697",
            "fddd5d157b9b8608",
            "cf016166d78f150f"
        ],
        "x": 1715,
        "y": 640,
        "wires": []
    },
    {
        "id": "48ca018c65c58cbb",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/doubleClick",
        "info": "",
        "x": 1850,
        "y": 640,
        "wires": []
    },
    {
        "id": "c5c109d7c51ff0c0",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "is double click on badge button?",
        "func": "if (msg.payload.unicodeCodePoints && msg.payload.unicodeCodePoints == \"129301\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 640,
        "wires": [
            [
                "5cfaf8f39ecd1a45"
            ]
        ]
    },
    {
        "id": "64795f455c0afb73",
        "type": "rbe",
        "z": "0f19d98c62c2f257",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1480,
        "y": 640,
        "wires": [
            [
                "162258e37e69a931"
            ]
        ]
    },
    {
        "id": "10924ee172d1cdb9",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/tripleClick",
        "func": "let newmsg = {\n    topic: \"/badgeF741/tripleClick\",\n    payload: \"tripleClick\"};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 700,
        "wires": [
            [
                "8c5cd1f527170bc7"
            ]
        ]
    },
    {
        "id": "78f8417ba14e99b9",
        "type": "link out",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/tripleClick",
        "mode": "link",
        "links": [
            "89cd1b5d44963cb4",
            "92148f9250905b6b",
            "188b2020e129bf2c",
            "fddd5d157b9b8608",
            "cf016166d78f150f"
        ],
        "x": 1715,
        "y": 700,
        "wires": []
    },
    {
        "id": "02d1bb6fa4854f0a",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/tripleClick",
        "info": "",
        "x": 1840,
        "y": 700,
        "wires": []
    },
    {
        "id": "04fad7df96e9770e",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "is triple click on badge button?",
        "func": "if (msg.payload.unicodeCodePoints && msg.payload.unicodeCodePoints == \"128076\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 700,
        "wires": [
            [
                "10924ee172d1cdb9"
            ]
        ]
    },
    {
        "id": "8c5cd1f527170bc7",
        "type": "rbe",
        "z": "0f19d98c62c2f257",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1480,
        "y": 700,
        "wires": [
            [
                "78f8417ba14e99b9"
            ]
        ]
    },
    {
        "id": "672188507aa20fa1",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "save to capturedBLE",
        "func": "let allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = msg.payload;\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "3701ebb8609ff1f3",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/acceleration [x,y,x]",
        "info": "",
        "x": 230,
        "y": 900,
        "wires": []
    },
    {
        "id": "664fd7bbaa40427d",
        "type": "link in",
        "z": "0f19d98c62c2f257",
        "name": "/e9beacon5c26/acceleration",
        "links": [
            "de8fbc462923dbc9",
            "6e29a67b8309b49b",
            "ab7c932c0809d8f2",
            "f0f43df8a09dbce2",
            "652c3a8fc8228380"
        ],
        "x": 395,
        "y": 900,
        "wires": [
            [
                "44b033cb756cc3c4"
            ]
        ]
    },
    {
        "id": "1b63eb2ebfc057cf",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/batteryPercentage [int]",
        "info": "",
        "x": 220,
        "y": 960,
        "wires": []
    },
    {
        "id": "cf016166d78f150f",
        "type": "link in",
        "z": "0f19d98c62c2f257",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [
            "4231c54266544aaa",
            "1993e168718b6344",
            "19d4534cec60808e",
            "4fbb33ab4f5e3d5c",
            "77e5d4a3042b144c",
            "120ed85db8ef7345",
            "162258e37e69a931",
            "78f8417ba14e99b9"
        ],
        "x": 395,
        "y": 960,
        "wires": [
            [
                "7b3e00c6518e2d38"
            ]
        ]
    },
    {
        "id": "0dd17f86dda3ee2c",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "/badgeF741/temperature [float]",
        "info": "",
        "x": 230,
        "y": 1020,
        "wires": []
    },
    {
        "id": "816b2872057b7b82",
        "type": "link in",
        "z": "0f19d98c62c2f257",
        "name": "/motionE8DA/temperature",
        "links": [
            "3f8a8d4cc887a6a0",
            "d7237dea509bc5d8",
            "72598cf98a406544",
            "f2483fdd6766de0b"
        ],
        "x": 395,
        "y": 1020,
        "wires": [
            [
                "05c56188dea8c4a1"
            ]
        ]
    },
    {
        "id": "44b033cb756cc3c4",
        "type": "function",
        "z": "0f19d98c62c2f257",
        "name": "split into 3",
        "func": "let msg1 = {};\nlet msg2 = {}; \nlet msg3 = {};\n\nmsg1.topic = \"x\";\nmsg1.payload = msg.payload[0];\nmsg2.topic = \"y\";\nmsg2.payload = msg.payload[1];\nmsg3.topic = \"z\";\nmsg3.payload = msg.payload[2];\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 900,
        "wires": [
            [
                "aba03605c1ac1e7f"
            ],
            [
                "aba03605c1ac1e7f"
            ],
            [
                "aba03605c1ac1e7f"
            ]
        ]
    },
    {
        "id": "aba03605c1ac1e7f",
        "type": "ui_chart",
        "z": "0f19d98c62c2f257",
        "name": "",
        "group": "54302cb6d79a9c1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Movement",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "-2",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ea0000",
            "#00c800",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "7b3e00c6518e2d38",
        "type": "ui_chart",
        "z": "0f19d98c62c2f257",
        "name": "",
        "group": "54302cb6d79a9c1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Battery",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "05c56188dea8c4a1",
        "type": "ui_chart",
        "z": "0f19d98c62c2f257",
        "name": "",
        "group": "54302cb6d79a9c1c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "-10",
        "ymax": "30",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "231a51630b1db266",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "create a friendly topic name, and assign the payload here",
        "info": "",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "bd971d8ebcb5d6c1",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1970,
        "y": 380,
        "wires": []
    },
    {
        "id": "df9bdfb5d4a83202",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 760,
        "y": 380,
        "wires": []
    },
    {
        "id": "747fef97ef6ab9a1",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Only send if it's changed...",
        "info": "",
        "x": 1510,
        "y": 380,
        "wires": []
    },
    {
        "id": "34191858460e1f2e",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Create UI elements for each of the sensor outputs",
        "info": "",
        "x": 230,
        "y": 820,
        "wires": []
    },
    {
        "id": "41b483ef7b05d5a8",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Open the ParetoAnywhere Object to set a Device URI",
        "info": "",
        "x": 240,
        "y": 220,
        "wires": []
    },
    {
        "id": "af3e76d9a40f77f4",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 290,
        "y": 260,
        "wires": []
    },
    {
        "id": "c821a28dae02e6a0",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "open the UI and look under \"BLE Devices\" to see devices, their deviceId, and deviceIdType values",
        "info": "",
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "f3cc532a376b2ee5",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Open the ParetoAnywhere Object to set a Device URI",
        "info": "",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "f0fbc956fff48f3a",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 710,
        "y": 180,
        "wires": []
    },
    {
        "id": "e371faf524d74a00",
        "type": "comment",
        "z": "0f19d98c62c2f257",
        "name": "open the UI and look under \"BLE Devices\" to see devices, their deviceId, and deviceIdType values",
        "info": "",
        "x": 380,
        "y": 140,
        "wires": []
    },
    {
        "id": "54302cb6d79a9c1c",
        "type": "ui_group",
        "name": "Badge F741",
        "tab": "1298aa3fd6cc5da5",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1298aa3fd6cc5da5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]