examples/SocketIO-Minew-MSR01.json
[
    {
        "id": "38d2134523a0e34a",
        "type": "tab",
        "label": "MSR01 Millimeter Wave Radar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b145552636ed6937",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "MSR01 Millimeter Wave Radar Sensor https://www.minew.com/product/msr01-millimeter-wave-radar-sensor/",
        "info": "",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccb8eea1db84761b",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/numberOfOccupants [int]",
        "info": "",
        "x": 190,
        "y": 560,
        "wires": []
    },
    {
        "id": "5c0589eb9e4c0ba4",
        "type": "link in",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/numberOfOccupants",
        "links": [
            "6e29a67b8309b49b",
            "ab7c932c0809d8f2",
            "f0f43df8a09dbce2"
        ],
        "x": 375,
        "y": 560,
        "wires": [
            [
                "24c62cb545d733e0",
                "cec3aff046fea1e1"
            ]
        ]
    },
    {
        "id": "2585bd9f29de11a6",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/batteryPercentage [int]",
        "info": "",
        "x": 200,
        "y": 620,
        "wires": []
    },
    {
        "id": "987684ad227b8032",
        "type": "link in",
        "z": "38d2134523a0e34a",
        "name": "/e9beacon5c26/batteryPercentage",
        "links": [
            "4fbb33ab4f5e3d5c",
            "77e5d4a3042b144c"
        ],
        "x": 375,
        "y": 620,
        "wires": [
            [
                "bb26252fc75ca076"
            ]
        ]
    },
    {
        "id": "bb26252fc75ca076",
        "type": "ui_chart",
        "z": "38d2134523a0e34a",
        "name": "",
        "group": "e36bbf7bb7e6790e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Battery",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "24c62cb545d733e0",
        "type": "ui_chart",
        "z": "38d2134523a0e34a",
        "name": "",
        "group": "e36bbf7bb7e6790e",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Number Of Occupants",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "step",
        "nodata": "waiting on data....",
        "dot": false,
        "ymin": "0",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "cec3aff046fea1e1",
        "type": "ui_text",
        "z": "38d2134523a0e34a",
        "group": "e36bbf7bb7e6790e",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Currently",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "3a8483769d7dd963",
        "type": "pareto-anywhere-socketio",
        "z": "38d2134523a0e34a",
        "uri": "http://localhost:3001/devices/c30000131569/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "",
        "x": 140,
        "y": 260,
        "wires": [
            [],
            [
                "9924d42299dd6db1",
                "ec52f7384f3523d3",
                "a3485164c13f089b"
            ],
            []
        ]
    },
    {
        "id": "08e605b5b8578b46",
        "type": "function",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/numberOfOccupants",
        "func": "let newmsg = {\n    topic: \"/radar1569/numberOfOccupants\",\n            payload: msg.payload.numberOfOccupants};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 260,
        "wires": [
            [
                "9f0c6dc07d3f9baa"
            ]
        ]
    },
    {
        "id": "f0f43df8a09dbce2",
        "type": "link out",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/numberOfOccupants",
        "mode": "link",
        "links": [
            "68c2629504ca0b28",
            "b00b5206398fc5d3",
            "58da5b866b432383",
            "cfce5eec5e17f20b",
            "5c0589eb9e4c0ba4",
            "9089710de0df1ad7",
            "270f40931efab3e3"
        ],
        "x": 1705,
        "y": 260,
        "wires": []
    },
    {
        "id": "591bc366f2fa1ded",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/numberOfOccupants",
        "info": "",
        "x": 1860,
        "y": 260,
        "wires": []
    },
    {
        "id": "9924d42299dd6db1",
        "type": "function",
        "z": "38d2134523a0e34a",
        "name": "is it numberOfOccupants?",
        "func": "if(msg.payload.numberOfOccupants){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "08e605b5b8578b46"
            ]
        ]
    },
    {
        "id": "9f0c6dc07d3f9baa",
        "type": "rbe",
        "z": "38d2134523a0e34a",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1520,
        "y": 260,
        "wires": [
            [
                "f0f43df8a09dbce2"
            ]
        ]
    },
    {
        "id": "7a78bea24b127f96",
        "type": "function",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/batteryPercentage",
        "func": "let newmsg = {\n    topic: \"/radar1569/batteryPercentage\",\n            payload: msg.payload.batteryPercentage};\nreturn newmsg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 320,
        "wires": [
            [
                "c9e62a695c829fb8"
            ]
        ]
    },
    {
        "id": "77e5d4a3042b144c",
        "type": "link out",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/batteryPercentage",
        "mode": "link",
        "links": [
            "89cd1b5d44963cb4",
            "92148f9250905b6b",
            "0ba2dd4dcb604546",
            "1b47c84cab13a9d8",
            "fddd5d157b9b8608",
            "987684ad227b8032",
            "53242798a9172140"
        ],
        "x": 1705,
        "y": 320,
        "wires": []
    },
    {
        "id": "b117b9b9d94fe7ab",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "/radar1569/batteryPercentage",
        "info": "",
        "x": 1850,
        "y": 320,
        "wires": []
    },
    {
        "id": "ec52f7384f3523d3",
        "type": "function",
        "z": "38d2134523a0e34a",
        "name": "is it batteryPercentage?",
        "func": "if (msg.payload.batteryPercentage){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 320,
        "wires": [
            [
                "7a78bea24b127f96"
            ]
        ]
    },
    {
        "id": "c9e62a695c829fb8",
        "type": "rbe",
        "z": "38d2134523a0e34a",
        "name": "changed?",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 1520,
        "y": 320,
        "wires": [
            [
                "77e5d4a3042b144c"
            ]
        ]
    },
    {
        "id": "a3485164c13f089b",
        "type": "function",
        "z": "38d2134523a0e34a",
        "name": "save to capturedBLE",
        "func": "let allBLE = global.get(\"capturedBLE\");\nif(!allBLE){\n    allBLE = {};\n}\n\nallBLE[msg.payload.deviceId] = msg.payload;\n\nglobal.set(\"capturedBLE\", allBLE);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "80cd384e54718123",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "/devices/c30000131569/3",
        "info": "",
        "x": 140,
        "y": 300,
        "wires": []
    },
    {
        "id": "e610d161c85680a0",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "Open the ParetoAnywhere Object to set a Device URI",
        "info": "",
        "x": 240,
        "y": 100,
        "wires": []
    },
    {
        "id": "d17705819cbe41e3",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "create a friendly topic name, and assign the payload here",
        "info": "",
        "x": 1170,
        "y": 160,
        "wires": []
    },
    {
        "id": "6202874e249db5da",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "send via named LinkOut to the Message Switchboard running in another flow on this computer ",
        "info": "",
        "x": 1970,
        "y": 160,
        "wires": []
    },
    {
        "id": "e99641ab6520a390",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "Confirm the property of the right name exists...",
        "info": "",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "83235feebaac5415",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "264c08bb8f947b5b",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "Only send if it's changed...",
        "info": "",
        "x": 1510,
        "y": 160,
        "wires": []
    },
    {
        "id": "081147177f68c24b",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "open the UI and look under \"BLE Devices\" to see devices, their deviceId, and deviceIdType values",
        "info": "",
        "x": 800,
        "y": 100,
        "wires": []
    },
    {
        "id": "c5a5335b7b48e395",
        "type": "comment",
        "z": "38d2134523a0e34a",
        "name": "Create UI elements for each of the sensor outputs",
        "info": "",
        "x": 230,
        "y": 500,
        "wires": []
    },
    {
        "id": "e36bbf7bb7e6790e",
        "type": "ui_group",
        "name": "Radar1569",
        "tab": "1298aa3fd6cc5da5",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1298aa3fd6cc5da5",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]