examples/SocketIO-Minew-MSR01.json
[
    {
        "id": "b6bfd1423dd1a748",
        "type": "tab",
        "label": "MSR01 Millimeter Wave Radar",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a326364d1f42c96b",
        "type": "comment",
        "z": "b6bfd1423dd1a748",
        "name": "MSR01 Millimeter Wave Radar Sensor https://www.minew.com/product/msr01-millimeter-wave-radar-sensor/",
        "info": "",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "3d62c1fa084c2cd7",
        "type": "comment",
        "z": "b6bfd1423dd1a748",
        "name": "Open the ParetoAnywhere Object to set a Device URI, or set the Id and select the typeId",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "e178c8cf570f8f14",
        "type": "comment",
        "z": "b6bfd1423dd1a748",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "a508c6687d374990",
        "type": "comment",
        "z": "b6bfd1423dd1a748",
        "name": "The idType for this device is 3 (RND-48)",
        "info": "",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "195c0ccb68812e9a",
        "type": "pareto-anywhere-socketio",
        "z": "b6bfd1423dd1a748",
        "uri": "http://localhost:3001/devices/c30000131569/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "Minew MSR01",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "f08e8f06659526c2"
            ],
            [
                "44b9fa03b95b3783",
                "3bc2521cfab7ef50",
                "75207a7a465616dc"
            ],
            [
                "9ab86ed3653e4f18"
            ]
        ]
    },
    {
        "id": "3bc2521cfab7ef50",
        "type": "debug",
        "z": "b6bfd1423dd1a748",
        "name": "numberOfOccupants",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.numberOfOccupants",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 470,
        "y": 480,
        "wires": []
    },
    {
        "id": "44b9fa03b95b3783",
        "type": "debug",
        "z": "b6bfd1423dd1a748",
        "name": "batteryPercentage",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.batteryPercentage",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 540,
        "wires": []
    },
    {
        "id": "f08e8f06659526c2",
        "type": "debug",
        "z": "b6bfd1423dd1a748",
        "name": "raddec",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "75207a7a465616dc",
        "type": "debug",
        "z": "b6bfd1423dd1a748",
        "name": "dynamb",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "9ab86ed3653e4f18",
        "type": "debug",
        "z": "b6bfd1423dd1a748",
        "name": "spatem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    }
]