examples/SocketIO-Minew-MCW01.json
[
    {
        "id": "ede49e67db867db3",
        "type": "tab",
        "label": "Minew MWC01 Badge Bluetooth Repeater",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9e28daf3d7d0fa58",
        "type": "pareto-anywhere-socketio",
        "z": "ede49e67db867db3",
        "uri": "http://localhost:3001/devices/c3000011f741/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "Minew MCW01 Badge",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "97de5625210fe160"
            ],
            [
                "989a23e1a143e4c4",
                "a4d7b761d4765121",
                "7517eb9049cbefed",
                "fcadb534e0579f03",
                "17cf414bca94c5c1",
                "cde1d6f9668cb775"
            ],
            [
                "a0d435d3a1503a15"
            ]
        ]
    },
    {
        "id": "c95f10d54cfb8cb0",
        "type": "comment",
        "z": "ede49e67db867db3",
        "name": "Minew MWC01 Badge Bluetooth Repeater https://www.minewstore.com/product/mwc01-badge-bluetooth-repeater",
        "info": "",
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "0f807e7fbe71152e",
        "type": "comment",
        "z": "ede49e67db867db3",
        "name": "Open the ParetoAnywhere Object to set a Device URI, or set the Id and select the typeId",
        "info": "",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc42067f23b1ca4c",
        "type": "comment",
        "z": "ede49e67db867db3",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 290,
        "y": 180,
        "wires": []
    },
    {
        "id": "91622b3376925874",
        "type": "comment",
        "z": "ede49e67db867db3",
        "name": "The idType for this device is 3 (RND-48)",
        "info": "",
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "7517eb9049cbefed",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "acceleration",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.acceleration",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "a4d7b761d4765121",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "temperature",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.temperature",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "989a23e1a143e4c4",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "batteryPercentage",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.batteryPercentage",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 480,
        "y": 580,
        "wires": []
    },
    {
        "id": "b49c13b1dcf6f17c",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "doubleClick",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.unicodeCodePoints",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 640,
        "wires": []
    },
    {
        "id": "fe64832f415d47a4",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "tripleClick",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.unicodeCodePoints",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 450,
        "y": 700,
        "wires": []
    },
    {
        "id": "fcadb534e0579f03",
        "type": "function",
        "z": "ede49e67db867db3",
        "name": "is double click on badge button?",
        "func": "if (msg.payload.unicodeCodePoints && msg.payload.unicodeCodePoints == \"129301\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 640,
        "wires": [
            [
                "b49c13b1dcf6f17c"
            ]
        ]
    },
    {
        "id": "17cf414bca94c5c1",
        "type": "function",
        "z": "ede49e67db867db3",
        "name": "is triple click on badge button?",
        "func": "if (msg.payload.unicodeCodePoints && msg.payload.unicodeCodePoints == \"128076\"){\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 700,
        "wires": [
            [
                "fe64832f415d47a4"
            ]
        ]
    },
    {
        "id": "97de5625210fe160",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "raddec",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "cde1d6f9668cb775",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "dynamb",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "a0d435d3a1503a15",
        "type": "debug",
        "z": "ede49e67db867db3",
        "name": "spatem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 400,
        "wires": []
    }
]