examples/SocketIO-Minew-E9.json
[
    {
        "id": "792a836345f6b34d",
        "type": "tab",
        "label": "Minew E9 Waterproof Beacon",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3e20f8ee3e0147da",
        "type": "pareto-anywhere-socketio",
        "z": "792a836345f6b34d",
        "uri": "http://localhost:3001/devices/ac233faf5c26/2",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "Minew E9 Waterproof Beacon",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "3178ba53cf404d7e"
            ],
            [
                "127040c94aa562bd",
                "7a4b1b7e82d89dd1",
                "222a2990f89c9679",
                "65be56235e3f2418"
            ],
            [
                "74d84a217bed458c"
            ]
        ]
    },
    {
        "id": "e3bba5b12e397d7b",
        "type": "comment",
        "z": "792a836345f6b34d",
        "name": "Minew E9 Waterproof Beacon https://www.minew.com/product/e9-waterproof-beacon/",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "b75b6c0a07dd72e6",
        "type": "comment",
        "z": "792a836345f6b34d",
        "name": "Open the ParetoAnywhere Object to set a Device URI, or set the Id and select the typeId",
        "info": "",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "6135af598a60bb52",
        "type": "comment",
        "z": "792a836345f6b34d",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "e765a6e449031e34",
        "type": "comment",
        "z": "792a836345f6b34d",
        "name": "The idType for this device is 2 (EUI-48)",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "127040c94aa562bd",
        "type": "debug",
        "z": "792a836345f6b34d",
        "name": "isMotionDetected",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.isMotionDetected",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "222a2990f89c9679",
        "type": "debug",
        "z": "792a836345f6b34d",
        "name": "batteryPercentage",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.batteryPercentage",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 590,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a4b1b7e82d89dd1",
        "type": "debug",
        "z": "792a836345f6b34d",
        "name": "acceleration",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.acceleration",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 570,
        "y": 700,
        "wires": []
    },
    {
        "id": "3178ba53cf404d7e",
        "type": "debug",
        "z": "792a836345f6b34d",
        "name": "raddec",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "65be56235e3f2418",
        "type": "debug",
        "z": "792a836345f6b34d",
        "name": "dynamb",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "74d84a217bed458c",
        "type": "debug",
        "z": "792a836345f6b34d",
        "name": "spatem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 440,
        "wires": []
    }
]