examples/SocketIO-Minew-MSP01.json
[
    {
        "id": "2009753bad5636ca",
        "type": "tab",
        "label": "MINEW MSP01",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7dc7182f92ac3a2f",
        "type": "comment",
        "z": "2009753bad5636ca",
        "name": "MINEW MSP01 Human Body Sensor https://www.minew.com/product/msp01-bluetooth-pir-sensor/",
        "info": "",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "af07e5a28be0014a",
        "type": "comment",
        "z": "2009753bad5636ca",
        "name": "Open the ParetoAnywhere Object to set a Device URI, or set the Id and select the typeId",
        "info": "",
        "x": 350,
        "y": 100,
        "wires": []
    },
    {
        "id": "48ebd4b9a8d5006e",
        "type": "comment",
        "z": "2009753bad5636ca",
        "name": "Format: http://localhost:3001/devices/[DEVICE_ID]/[DEVICE_ID_TYPE]",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "7bc3ba9b5d9d417d",
        "type": "comment",
        "z": "2009753bad5636ca",
        "name": "The idType for this device is 3 (RND-48)",
        "info": "",
        "x": 190,
        "y": 180,
        "wires": []
    },
    {
        "id": "2c105005ce42f75c",
        "type": "pareto-anywhere-socketio",
        "z": "2009753bad5636ca",
        "uri": "http://localhost:3001/devices/c300000ae8da/3",
        "deviceid": "",
        "deviceidtype": "0",
        "name": "Minew MSP01",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "e0c0008fa5d491bd"
            ],
            [
                "fd0c92e90f02cb3d",
                "0efb32b8c572e30d",
                "3627fac00b89ae1e",
                "a5b5893020c176d9",
                "a2a352374069030c",
                "92df3ac70a1e8480",
                "1cb51a7614c14f6b"
            ],
            [
                "83cfc228a102dd41"
            ]
        ]
    },
    {
        "id": "3627fac00b89ae1e",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "acceleration",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.acceleration",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 520,
        "wires": []
    },
    {
        "id": "0efb32b8c572e30d",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "temperature",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.temperature",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 580,
        "wires": []
    },
    {
        "id": "fd0c92e90f02cb3d",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "batteryPercentage",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.batteryPercentage",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "e0c0008fa5d491bd",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "raddec",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 280,
        "wires": []
    },
    {
        "id": "a5b5893020c176d9",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "dynamb",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 340,
        "wires": []
    },
    {
        "id": "83cfc228a102dd41",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "spatem",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "a2a352374069030c",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "isMotionDetected",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.isMotionDetected",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "92df3ac70a1e8480",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "illuminance",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.illuminance",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "1cb51a7614c14f6b",
        "type": "debug",
        "z": "2009753bad5636ca",
        "name": "relativeHumidity",
        "active": false,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.relativeHumidity",
        "targetType": "msg",
        "statusVal": "payload.isMotionDetected",
        "statusType": "auto",
        "x": 470,
        "y": 760,
        "wires": []
    }
]